{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}
<style>
    main {
        height: 100%;
        width: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
        background-color: #eeeeee;

    }
    .top-auto-height {
        position: absolute; 
         top: 20%;
        height: auto; /* Set height to auto */
        }
</style>
<!-- <div class="d-flex flex-column w-100 justify-content-center align-items-center"> -->
<p> CALENDAR PAGE GOES HERE!</p>

{% endblock pageContent %} {% block ScriptBlock %}

{% endblock ScriptBlock %}