{% extends "base_no_sidebar.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}
<style>
    main {
        height: 100%;
        width: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
        background-color: #eeeeee;

    }
    .top-auto-height {
        position: absolute; 
         top: 20%;
        height: auto; /* Set height to auto */
        }
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


</style>
<!-- <div class="d-flex flex-column w-100 justify-content-center align-items-center"> -->

<body>
    <body>
     
</body>
</html>
{% endblock pageContent %} {% block ScriptBlock %}
<script>

</script>
{% endblock ScriptBlock %}