{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}
<style>
    main {
        height: 100%;
        width: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
        background-color: #eeeeee;

    }
    .top-auto-height {
        position: absolute; 
         top: 20%;
        height: auto; /* Set height to auto */
        }
</style>
<!-- <div class="d-flex flex-column w-100 justify-content-center align-items-center"> -->
<div class="d-flex flex-column w-100 justify-content-center align-items-center top-auto-height">   
    <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-default rounded-10 shadow">
            <div class="card-header" style="background-color:teal; border-bottom:5px solid #af8f6f;">
                <h4 class="card-title" style="color: white;"><center><b>TOOLS</b></center></h4>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <h5>Welcome to Our New Network</h5>
                    
                    <button class="btn btn-primary" onclick="window.location.href='{% url 'login' %}'">
                        Proceed to Login
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock pageContent %} {% block ScriptBlock %}

{% endblock ScriptBlock %}